<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ComapnyMS</display-name>
  <servlet>
    <servlet-name>a</servlet-name>
    <servlet-class>mypack.Uregister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>a</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>driverclass</param-name>
    <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>connectionurl</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <servlet>
    <servlet-name>one</servlet-name>
    <servlet-class>mypack.LoginnServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>one</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>two</servlet-name>
    <servlet-class>mypack.Welcomeservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>two</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>b</servlet-name>
    <jsp-file>/email.jsp</jsp-file>
    <init-param>
      <param-name>driverclass</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>constring</param-name>
      <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>b</servlet-name>
    <url-pattern>/Send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>c</servlet-name>
    <servlet-class>mypack.UploaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>c</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>d</servlet-name>
    <jsp-file>/complain.jsp</jsp-file>
    <init-param>
      <param-name>driverclass</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>constring</param-name>
      <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>d</servlet-name>
    <url-pattern>/complain</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>e</servlet-name>
    <servlet-class>mypack.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>e</servlet-name>
    <url-pattern>/view</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>f</servlet-name>
    <servlet-class>mypack.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>f</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>g</servlet-name>
    <jsp-file>/ademail.jsp</jsp-file>
    <init-param>
      <param-name>driverclass</param-name>
      <param-value>com.mysql.jdbc.Driver</param-value>
    </init-param>
    <init-param>
      <param-name>constring</param-name>
      <param-value>jdbc:mysql://localhost:3306/test</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>g</servlet-name>
    <url-pattern>/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>h</servlet-name>
    <servlet-class>mypack.Chngpass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>h</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>i</servlet-name>
    <servlet-class>mypack.ViewuserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>i</servlet-name>
    <url-pattern>/count</url-pattern>
  </servlet-mapping>
</web-app>